body{
    font-family: Garamond ;
    font-family: "Akaya Kanadaka", sans-serif;
    background-color: green;
    margin:60px;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #e7e7e7;
  margin: auto;
  width: 70%;
  border: 3px solid #013220 ;
  padding: 10px;
  font-size:20px;
  text-align:center;
    
}
nav {
  width: 200px;
  background-color: #256e16;
  color: white; 
  position: fixed;
  left: 0;
  center: 0;
  border: solid 4px #013220;
}

nav a {
  background-color: #eee;
  color: black; 
  display: block; 
  padding: 12px; 
  text-decoration: none; 
  border: solid 2px #d6bc0f;
  border-style: solid solid none none;
}

nav a:hover {
  background-color: #04AA6D;
}
.menu {
   text-align: center;
   border: solid  4px #044a0d;
}
.text {
    margin-left :200px;
    float: left;
    
}
.boxy {
  background-color: #e7e7e7;
  margin: auto;
  width: 70%;
  border: 3px solid #013220 ;
  padding: 10px;
  }
  .boxy p{
     padding-left:30px; 
  }

  
  
  
  
  
  
.button {
  background-color: #4CAF50; /* Green */
  border: solid 3px solid #013220;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}
.button:hover{
  background-color: #f44336; /* Green */
  border: solid 3px solid #f44336;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}
.lista{
  background-color: #e7e7e7;
  margin: auto;
  width: 70%;
  height: 1100px;
  border: 3px solid #013220;
  padding: 10px;
}
.lista h3 {
  text-align: center;
  font-size:30px;
  }
  .prawy {
        margin-right: 100px;
  float:right;
  }
  
  .lewy {
  margin-left: 50px;
  float:left;
  }